extends ../includes/layout
block append head
    link(href='/css/index.css',rel='stylesheet')
block content
    div
        button.btn.waves-effect.test 测试测试
    nav
        .nav-wrapper.white
            a.brand-logo.center(href='#') #{title}
            a(data-activates="mobile-nav").button-collapse
                i.iconfont.icon-icon1
            ul.right.hide-on-med-and-down
                if user && user.role > 50
                    li
                        a.accent-info #{user.account}
                    li
                        a#logout(href='/logout').accent-info 退出
                    li
                        a(href='/admin').accent-info 管理后台
                else
                    if user
                        li
                            a #{user.account}
                        li
                            a(href="/logout")#logout 退出
                    else
                        li
                            a(href="/login").login 登陆
            ul#mobile-nav.side-nav
                if user && user.role > 50
                    li
                        a #{user.account}
                    li
                        a#logout(href='/logout') 退出
                    li
                        a(href='/admin') 管理后台
                else
                    if user
                        li
                            a #{user.account}
                        li
                            a(href="/logout")#logout 退出
                    else
                        li
                            a(href="/login")#login.login 登陆
    if user
        div(data-MenuNum= menuNum).container.menu-wrap
            div.row
                div.col.s12.m8.offset-m2.l6.offset-l3.center
                    div
                        ul
                            each item in menuList
                                li.menu-li.card-panel.z-depth-1
                                   a(href="#").menu-a #{item}

    else
        div.no-login.center.waves-effect.waves-light.btn.login.cyan.lighten-2
            span.no-txt 登录




    div.login-wrap.z-depth-2
        div.login-close
            i.iconfont.icon-guanbi
        div.login-box.row
            form#loginFrom.col.s12(method="POST", action="/user/login")
                div.row
                    h3.login-tit 登录
                div.row
                    div.input-field.col.s12
                        input#user.validate(name="user",type="text")
                        label(for="user") 账号
                div.row
                    div.input-field.col.s12
                        input#password.validate(name="password",type="password")
                        label(for="password") 密码
                div.row
                    div.login-btn.col.s12
                        button#login-sub.btn.waves-effect.waves-light(type = "submit") 一键开车
    div.mask-wrap
block append foot
    script(src="/js/base.js")
    script(src="/js/index.js")

