doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body.user_list
        main
            block center
                div.row.content-wrap
                    include ../../includes/tool-bar
                    div.main-wrap.col.s10
                        div.order-wrap
                            table.centered.striped.highlight
                                thead
                                    tr
                                        th 编号
                                        th 用户名
                                        th 姓名
                                        th 菜名
                                        th 时间
                                tbody#info-content
                                    //each item in orders
                                    //    tr(class="#{item._id}")
                                    //        td #{item.account}
                                    //        td #{item.name}
                                    //        td #{item.DishName}
                                    //        td #{moment(item.time).format("YYYY-MM-DD HH:MM")}
include ../../includes/footjs
    script(src="/js/order.js")
