doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body.user_list
        main
            block center
                div.row.content-wrap
                    include ../../includes/tool-bar
                    div.main-wrap.col.s10
                        .fixed-action-btn.horizontal
                            a.btn-floating.btn-large.red
                                i(data-position="top" data-delay="50" data-tooltip="添加用户")#add-user.tooltipped.iconfont.icon-tianjia.add-user

                        //div.top-tools.lighten-3.z-depth-1.center
                        //    a(href="/")#add-user.iconfont.icon-tianjia.add-user
                        table.centered.highlight
                            thead
                                tr
                                    th 用户名
                                    th 姓名
                                    th 权限
                                    th 操作
                            tbody#info-content
                                each item in users
                                    tr(class="#{item._id}")
                                        td #{item.account}
                                        td #{item.name}
                                        td #{item.role}
                                        td
                                            a.waves-effect.waves-light.btn 修改
                                            a(data-id="#{item._id}",onClick="deleteEl(this)").del-btn.waves-effect.waves-light.btn.red 删除
            div(data-model="register").float-model.z-depth-2
                div.res-tit
                    span 添加用户
                    span.close-btn.iconfont.icon-guanbi.right
                div.container
                    form#regFrom.col.s12(method="POST", action="/user/register")
                        div.row
                            div.input-field.col.s6
                                input#user.validate(name="user",type="text")
                                label(for="user") 账号
                            div.input-field.col.s6
                                input#name.validate(name="name",type="text")
                                label(for="user") 姓名
                        div.row
                            div.input-field.col.s12
                                input#password.validate(name="password",type="password")
                                label(for="password") 密码
                        div.row
                            div.input-field.col.s12
                                input#role.validate(name="role",type="text")
                                label(for="password") 权限
                        div.row
                            div.reg-btn.col.s12
                                button#adduser-sub.btn.waves-effect.waves-light(type = "submit") 添加老司机



include ../../includes/footjs
    script(src="/js/admin.js")
