doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body.user_list
        main
            block center
                div.container
                    div.row
                        table.centered.highlight
                            thead
                                tr
                                  th 用户名
                                  th 姓名
                                  th 权限
                                  th 操作
                            tbody
                              each item in users
                                tr(class="#{item._id}")
                                  td #{item.account}
                                  td #{item.name}
                                  td #{item.role}
                                  td
                                    a.waves-effect.waves-light.btn 修改
                                    a(data-id="#{item._id}").del-btn.waves-effect.waves-light.btn.red 删除






include ../../includes/footer
block append foot
    script(src="/js/admin.js")
